.heading{
    width: 80%;
    font-size: 22px;

}
.name_of_object{
    color: red;
}
#camera {
    border: 5px dashed violet;
    width: 500px;
    height: 300px;
}
#result_object_name{
    color: cyan;
}
#result_object_accuracy{
    color: crimson;
}
body{
    background-color: yellow;
}